[Unit]
Description=@@DESCRIPTION@@

[Service]
ExecStart=@@APP_CONTROL@@ --from-systemd=%p@%i start @@APP_PREFIX@@/@@APPNAME@@
ExecStop=@@APP_CONTROL@@ --from-systemd=%p@%i stop
Restart=always

[Install]
WantedBy=multi-user.target
